name: Bun.sh npm Publish

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4

      - id: setup-bun
        name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - id: install-deps
        name: Install dependencies
        run: |
          bun install

      - id: build
        name: Build
        run: bun run build

      - id: publish
        name: Configure npm and publish
        run: |
          echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > ~/.npmrc
          bunx --bun npm publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
